.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: auto;
}

.searchResults {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 50%;
  margin: 25px;
  padding-top: 12px;
  border-radius: 8px;
  background: #f5f5f5;
  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.16);
}

.title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px;
  border-bottom: 1px dotted grey;
}

.gameCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}

.gameResult {
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 0 16px;
}

.gameInfo {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.gameTitle {
  font-size: 16px;
}

.gamePlatformName {
  font-size: 12px;
}

.gameImage {
  width: auto;
  height: 150px;
}

.gameElements {
  width: 104px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.radioButton {
  width: 100%;
  height: 36px;
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.selected {
  background-color: pink;
  color: white;
  border-color: pink;
}

.radioButton:hover:not(.selected) {
  background-color: #ddd;
}

.addGameButton {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 24px;
  font-size: 16px;
  text-align: center;
  background: grey;
  color: pink;
  transition: transform 0.3s ease;
}

.addGameButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.addGameButton:disabled:hover {
  cursor: not-allowed;
}

.addGameButton:hover {
  cursor: pointer;
}

.addGameButton.rotated {
  background-color: #ff0000;
  transform: rotate(45deg);
}

.addGameButton.successful {
  background-color: green;
  color: white;
}

.addGameButton.successful:disabled {
  background-color: green;
  color: white;
  opacity: 0.7;
  cursor: not-allowed;
}

.separation {
  width: 80%;
  height: 1px;
  margin-bottom: 16px;

  background: grey;
}

.finalButtonContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finalSubmitButton {
  width: auto;
  height: auto;
  font-size: 12px;
  font-weight: 800;
  padding: 8px;
  color: #ff19cf;
  background: #d9d9d9;
  border: 1px solid #939393;
  border-radius: 8px;
}

.finalSubmitButton:hover {
  cursor: pointer;
  color: #939393;
  background-color: #ff85c2;
}

.searchControls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
  max-width: 800px;
  gap: 10px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.platformSelect {
  border: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.platformSelect:hover {
  background-color: #e0e0e0;
}

.platformSelect option {
  padding: 10px;
  background-color: #fff;
  color: #333;
}

.searchBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 8px;
}

.searchInput {
  flex: 1;

  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.searchInput:focus {
  outline: none;
  box-shadow: 0 0 6px rgba(33, 150, 243, 0.5);
}

.searchButton {
  background-color: #0296b2;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #1976d2;
}

.searchButton svg {
  font-size: 18px;
}

@media (max-width: 600px) {
  .searchControls {
    flex-direction: column;
    gap: 15px;
  }

  .platformSelect,
  .searchBarContainer {
    width: 96%;

    font-size: 14px;
  }

  .searchButton {
    width: 50px;
    padding: 12px;
  }

  .gameResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0;
    gap: 8px;
  }

  .gameBlockOne {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: auto;
  }

  .gameInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-left: 8px;
    gap: 16px;
  }

  .gameImage {
    width: 30%;
    height: auto;
  }

  .gameTitle,
  .gamePlatformName {
    width: 100%;
    height: 100%;
  }

  .gameBlockTwo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: auto;
  }

  .gameElements {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 8px;
  }

  .radioButton {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80px;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
  }
}
