.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.brandImage {
  object-fit: cover;
  width: 20%;
  height: 20%;
}

.gamesFrame {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 50%;
  margin: 25px;
  padding-top: 12px;
  border-radius: 8px;
  background: #f5f5f5;
  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.16);
}

.resultErrorMessage {
  color: black;
}

.platformImage {
  object-fit: cover;
  width: 20%;
  height: 20%;
  margin: 8px 0;
}

.gamesList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 48px;
  width: 80%;
  height: auto;
  min-height: 150px;
  margin: 16px;
}

.gameCard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 88%;
  height: auto;
}

.gameInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 8px;
  margin-left: 48px;
}

.gameImage {
  width: 25%;
  max-width: 128px;
  height: auto;
  border-radius: 4px;
}

.gameTitle {
  font-size: 18px;
}

.gameDetails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
}

.complete {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
  border-radius: 16px;

  color: white;
  background-color: rgba(2, 150, 178, 0.75);
}

@media (max-width: 600px) {
  .gamesList {
    width: 88%;
  }
  .platformImage {
    width: 30%;
    height: 30%;
  }
  .gameImage {
    width: 33%;
    height: auto;
  }
  .gameCard {
    width: 100%;
    height: 100%;
  }

  .gameInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 8px;
    margin-left: 16px;
  }

  .gameTitle {
    width: 100%;
    height: 100%;
  }

  .gameDetails {
    width: 100%;
    height: 100%;
  }
}
