* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  background: #f2eddb;
  background-size: 200% 200%;
  /* animation: gradientAnimation 15s ease infinite alternate; */
}

button {
  all: unset;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  touch-action: manipulation;
}

button:active {
  outline: none;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}
